@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-div{
  @apply flex items-center justify-center min-h-screen  bg-gradient-to-br from-orange-50 via-orange-100 to-orange-200
}

.form-div{
  @apply max-w-md bg-white rounded-2xl shadow-lg p-8
}

.input-field{
  @apply w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400
}
 
.form-button{
  @apply w-full border border-gray-300  rounded-lg p-2 hover:bg-orange-600 hover:text-white
}